<div id="contacts">
    <p><b>Contact us through</b></p>
    <ul class="contacts">
        <p>Address: P.O Box 180 – 20115 Egerton<br></p>
        <a href="tel:+254715198050">0715 198 050</a><br>
        <a href="https://wa.me/+254721418618?text=Hello%20there">Chat on WhatsApp</a><br>
        <div class="social-icons">
            <a href="https://www.facebook.com/stacinstitute/" class="fa fa-facebook" aria-label="Follow STAC on Facebook"></a>
            <a href="https://x.com/InstituteStac?t=gPLvstOt6zTESvYUL6lpjw&s=08" class="fa fa-twitter" aria-label="Follow STAC on Twitter"></a>
            <a href="https://www.instagram.com/stacinstitute?igsh=YzljYTk1ODg3Zg==" class="fa fa-instagram" aria-label="Follow STAC on Instagram"></a>
            <a href="mailto:stacinstitute@gmail.com" class="fa fa-envelope" aria-label="Email STAC Institute"></a>
        </div>
    </ul>
</div>
